
app/__pycache__/__init__.cpython-39.pyc
app/__pycache__/__init__.cpython-39.pyc
projectweb/__pycache__/__init__.cpython-39.pyc
projectweb/__pycache__/urls.cpython-39.pyc
app/__pycache__/__init__.cpython-39.pyc
