<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnglishStudy</title>
    <link rel="stylesheet" href="../../../static/app/css/styles.css">
   
    
</head>
<body>
    <h1>Title</h1>
    <h2>title</h2>

    <div id="menu">
        <a href="login.html">Login</a>
        <a href="main.html">Main</a>
        <a href="study.html">Study</a>
        <a href="rank.html">Rank</a>
        <a href="mypage.html">Mypage</a>
    </div>

    <div class="join-form">
        <form method="POST" action="../register/" enctype="multipart/form-data">
            {% csrf_token %}
            <b class="name">ID</b><br>
            <input type="text" name="email" class="text-field" placeholder="id"><br>
            <input type="button" value="check" class="check-btn" id="idcheck"><br>
            <b class="name">Password</b><br>
            <input type="password" name="password" class="text-field" placeholder="password"><br>
            <input type="button" value="check" class="check-btn" id="passwordcheck"><br>
            <input type="submit" value="join" class="submit-btn" id="submitclick">
        </form>
    </div> 

    <script src="../../../static/app/js/joinscript.js"></script>
</body>
</html>