<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnglishStudy</title>
    <link rel="stylesheet" href="../../../static/app/css/styles.css">
    <script src="joinscript.js"></script>
    
</head>
<body>
    <h1>Title</h1>
    <h2>title</h2>

    <div id="menu">
        <a href="../login/">Login</a>
        <a href="../main/">Main</a>
        <a href="../study/">Study</a>
        <a href="../rank/">Rank</a>
        <a href="../mypage/">Mypage</a>
    </div>

    <div class="join-form">
        <form method="POST" action="../register/" enctype="multipart/form-data">
            {% csrf_token %}
            <b class="name">ID</b><br>
            <input type="text" name="email" class="text-field" placeholder="id"><br>
            <input type="submit" value="check" class="check-btn"><br>
            <b class="name">Password</b><br>
            <input type="password" name="password" class="text-field" placeholder="password"><br>
            <input type="submit" value="check" class="check-btn"><br>
            <input type="submit" value="join" class="submit-btn">
        </form>
    </div> 


   

</body>
</html>