<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>EnglishStudy</title>
    <link rel="stylesheet" href="../../../static/app/css/loginstyle.css">
</head>

<body>
  <div id="container">                            <!-- 메인 제목 -->
    <h1 class="style-1">GPTeacher</h1>
  </div>
  <div id="container">                            <!-- 부 제목 -->
    <h2 class="style-2">Your Personalized AI English Tutor</h2>
  </div>

    <div id="menu">
        <a href="#"><b>Login</b></a>
    </div> 

    <div class="materialContainer">
      <div class="box">
        <div class="title">LOGIN</div>

        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="input">
            <input type="text" name="email" id="email" placeholder="id"></br>
            <span class="spin"></span>
          </div>

          <div class="input">
            <input type="password" name="password" id="password" placeholder="password"></br>
            <span class="spin"></span>
          </div>
          <div class="button login">
            <button value="log"><span>Sign in</span> <i class="fa fa-check"></i></button>
          </div>
          <input type ="hidden"  name="forwhat" value ="mylogin">
        </form>
      </div>
      
      <form method="POST" enctype="multipart/form-data" id="regiform"></form>
        {% csrf_token %}
        <div class="overbox">
          <div class="material-button alt-2"><span class="shape"></span></div>
          <div class="title">REGISTER</div>

          <div class="input">
            <label for="regname">Username</label>
            <input type="text" name="regname" id="regname">
            <span class="spin"></span>
          </div>

          <div class="input">
            <label for="regpass">Password</label>
            <input type="password" name="regpass" id="regpass">
            <span class="spin"></span>
          </div>

          <div class="input">
            <label for="reregpass">Repeat Password</label>
            <input type="password" name="reregpass" id="reregpass">
            <span class="spin"></span>
          </div>

          <div class="button">
            <button type="submit" value="reg"><span>Sign up</span></button>
          </div>

          <input type ="hidden"  name="forwhat" value ="myregister">
        </div>
      </form>
    </div>
    <script type="text/javascript" src="../../../static/app/js/loginscript.js?ver=1"></script>
    {% comment %} <div class="login-form">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="text" name="email" class="text-field" placeholder="id"><br>
          <input type="password" name="password" class="text-field" placeholder="password"><br>
          <input type="submit" value="log" class="submit-btn">
        </form>
    
        <div class="links">
          <a href="/app/english/login">회원가입</a>
        </div>
    </div>  {% endcomment %}

</body>
</html>