<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnglishStudy</title>
    <link rel="stylesheet" href="../../../static/app/css/styles.css">
</head>
<body>
    <h1>Title</h1>
    <h2>title</h2>

    <div id="menu">
        <a href="#"><b>Login</b></a>
        <a href="../main/">Main</a>
        <a href="../study/">Study</a>
        <a href="../rank/">Rank</a>
        <a href="../mypage/">Mypage</a>
        
    </div>

    <div class="login-form">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="text" name="email" class="text-field" placeholder="id"><br>
          <input type="password" name="password" class="text-field" placeholder="password"><br>
          <input type="submit" value="log" class="submit-btn">
        </form>
    
        <div class="links">
          <a href="../join/">회원가입</a>
        </div>
    </div> 

   

</body>
</html>