<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnglishStudy</title>
    <link rel="stylesheet" href="../../../static/app/css/mainstyle.css">
</head>

<body>
    <div id="container">                            <!-- 메인 제목 -->
        <h1 class="style-1">GPTeacher</h1>
    </div>
    <div id="container">                            <!-- 부 제목 -->
        <h2 class="style-2">Your Personalized AI English Tutor</h2>
    </div>

    <div id="menu">                                 <!-- 메뉴 -->
        <a href="#" data-hover="Main">Main</a>
        <a href="/app/english/study" data-hover="Study">Study</a>
        <a href="/app/english/rank" data-hover="Rank">Rank</a>
        <a href="/app/english/mypage" data-hover="Mypage"><b>Mypage</b></a>
    </div>

    <div class="menugo-container">
        <div class="menugo">
            <span class="effectMainA"></span>
            <span class="effectMainA"></span>
            <span class="effectMainA"></span>
            <span class="effectMainA"></span>
            <img src="../../../static/app/images/studyImage.gif" width="300" height="200">

            <div class="menuex">
                <h3>STUDY</h3>
                <p>study english</p>
                <a href="/app/english/study">click!</a>
            </div>

        </div>

        <div class="menugo">
            <span class="effectMainA"></span>
            <span class="effectMainA"></span>
            <span class="effectMainA"></span>
            <span class="effectMainA"></span>
            <img src="../../../static/app/images/exam.gif" width="300" height="200">

            <div class="menuex">
                <h3>EXAM</h3>
                <p>try your exam</p>
                <a href="/app/english/exam">click!</a>
            </div>

        </div>

        <div class="menugo">
            <span class="effectMainB"></span>
            <span class="effectMainB"></span>
            <span class="effectMainB"></span>
            <span class="effectMainB"></span>
            <img src="../../../static/app/images/rankImage.gif" width="300" height="200">

            <div class="menuex">
                <h3>RANK</h3>
                <p>check your score</p>
                <a href="/app/english/rank">click!</a>
            </div>

        </div>

        <div class="menugo">
            <span class="effectMainA"></span>
            <span class="effectMainA"></span>
            <span class="effectMainA"></span>
            <span class="effectMainA"></span>
            <img src="../../../static/app/images/mypage.gif" width="300" height="200">

            <div class="menuex">
                <h3>MYPAGE</h3>
                <p>your status</p>
                <a href="/app/english/exam">click!</a>
            </div>

        </div>
    </div>


</body>
</html>