<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnglishStudy</title>
    <link rel="stylesheet" href="../../../static/app/css/styles.css">
    <link rel="stylesheet" href="../../../static/app/css/stylestwo.css">


</head>

<body>
    <h1>Title</h1>
    <h2>title</h2>

    <div id="menu">
        <a href="#"><b>Main</b></a>
        <a href="/app/english/study">Study</a>
        <a href="/app/english/rank">Rank</a>
        <a href="/app/english/mypage">Mypage</a>
        
    </div>

    <div class="menugo-container">
        <div class="menugo">
            <img src="../../../static/app/images/book.jpg" width="300" height="200">

            <div class="menuex">
                <h3>STUDY</h3>
                <p>study english</p>
                <a href="/app/english/study">click!</a>
            </div>

        </div>

        <div class="menugo">
            <img src="../../../static/app/images/rank.jpg" width="300" height="200">

            <div class="menuex">
                <h3>RANK</h3>
                <p>check your rank</p>
                <a href="/app/english/rank">click!</a>
            </div>

        </div>

    </div>


</body>
</html>