<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnglishStudy</title>
    <link rel="stylesheet" href="../../../static/app/css/styles.css">
    <link rel="stylesheet" href="../../../static/app/css/stylestwo.css">

    
</head>
<body>
    <h1>Title</h1>
    <h2>title</h2>

    <div id="menu">
        <!--
        <a href="login.html">Login</a>
        -->
        <a href="/app/english/main">Main</a>
        <a href="/app/english/study">Study</a>
        <a href="/app/english/rank">Rank</a>
        <a href="#"><b>Mypage</b></a>
    </div>

    <div id="mypageJust">
        <h3>information</h3>
    </div>

    <div class="mypageUSer">
        <div class="info">
            <p id="myId"></p>
            <p id="myScore"></p>
            <a href="study.html"> STUDY </a>
        </div>
    </div>

    <script src="../../../static/app/js/mypagescript.js"></script>
</body>
</html>