<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnglishStudy</title>
    <link rel="stylesheet" href="../../../static/app/css/styles.css">
</head>
<body>
    <h1>Title</h1>
    <h2>title</h2>

    <div id="menu">
        <a href="../login/">Login</a>
        <a href="../main/">Main</a>
        <a href="../study/">Study</a>
        <a href="../rank/">Rank</a>
        <a href="#"><b>Mypage</b></a>
    </div>

    <div class="mypageUSer">
        <img src="../../../static/app/images/user.jpg" width="300" height="200">

        <div class="info">
            <h3>홍길동</h3>
            <p>Hong@naver.com</p>
            <p>rank : 3 </p>
            <a href="../study/"> study ! </a>
        </div>

    </div>
</body>
</html>