<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnglishStudy</title>
    <link rel="stylesheet" href="../../../static/app/css/styles.css">
</head>
<body>
    <h1>Title</h1>
    <h2>title</h2>

    <div id="menu">
        <a href="../login/">Login</a>
        <a href="../study/">Study</a>
        <a href="#"><b>Rank</b></a>
        <a href="../mypage/">Mypage</a>
    </div>

    <div class="rank">
        <h3>Day Chart</h3>
        <hr class="linea">
         <ol id="userrank">
            <li class="rankcontent">김모씨 - kim@naver.com - score : 320 </li>
            <li class="rankcontent">김모씨 - kim@naver.com - score : 320 </li>
            <li class="rankcontent">김모씨 - kim@naver.com - score : 320 </li>
            <li class="rankcontent">김모씨 - kim@naver.com - score : 320 </li>
            <li class="rankcontent">김모씨 - kim@naver.com - score : 320 </li>
            <li class="rankcontent">김모씨 - kim@naver.com - score : 320 </li>
            <li class="rankcontent">김모씨 - kim@naver.com - score : 320 </li>
            <li class="rankcontent">김모씨 - kim@naver.com - score : 320 </li>
            <li class="rankcontent">김모씨 - kim@naver.com - score : 320 </li>
            <li class="rankcontent">김모씨 - kim@naver.com - score : 320 </li>
            <li class="rankcontent">김모씨 - kim@naver.com - score : 320 </li>
            <li class="rankcontent">김모씨 - kim@naver.com - score : 320 </li>
            <li class="rankcontent">김모씨 - kim@naver.com - score : 320 </li>
            <li class="rankcontent">김모씨 - kim@naver.com - score : 320 </li>
            <li class="rankcontent">김모씨 - kim@naver.com - score : 320 </li>
            <li class="rankcontent">김모씨 - kim@naver.com - score : 320 </li>
            <li class="rankcontent">김모씨 - kim@naver.com - score : 320 </li>
            <li class="rankcontent">김모씨 - kim@naver.com - score : 320 </li>
            <li class="rankcontent">김모씨 - kim@naver.com - score : 320 </li>
            <li class="rankcontent">김모씨 - kim@naver.com - score : 320 </li>
            <li class="rankcontent">김모씨 - kim@naver.com - score : 320 </li>
            <li class="rankcontent">김모씨 - kim@naver.com - score : 320 </li>
            <li class="rankcontent">김모씨 - kim@naver.com - score : 320 </li>
            <li class="rankcontent">김모씨 - kim@naver.com - score : 320 </li>
            <li class="rankcontent">김모씨 - kim@naver.com - score : 320 </li>
            <li class="rankcontent">김모씨 - kim@naver.com - score : 320 </li>
            <li class="rankcontent">김모씨 - kim@naver.com - score : 320 </li>
            <li class="rankcontent">김모씨 - kim@naver.com - score : 320 </li>
            <li class="rankcontent">김모씨 - kim@naver.com - score : 320 </li>
            <li class="rankcontent">김모씨 - kim@naver.com - score : 320 </li>
        </ol>
    </div>


</body>
</html>