<!DOCTYPE html>
{% load static %}
{{Sentencedata}}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnglishStudy</title>
    <link rel="stylesheet" href="../../../static/app/css/styles.css">
    

</head>
<body>
    <h1>Title</h1>
    <h2>title</h2>

    <div id="menu">
        <a href="../login/">Login</a>
        <a href="../main/">Main</a>
        <a href="#"><b>Study</b></a>
        <a href="../rank/">Rank</a>
        <a href="../mypage/">Mypage</a>
    </div>
    <div class="content">
        <div class="chatGPT">
            <img src="../../../static/app/images/chatGPT.jpg" width="200" id="chatGPTimg">

            <div class = quiz>
                <span class="quiz_type"></span>
                <div class="quiz_question">
                    <span class="number"></span>
                    <div class="ask"></div>
                </div>

                <div class="quiz_try">
                    <div class="quiz_selects">
                        <form name="select_big">
                            <label for="select1">
                                <input type="radio" id="select1" class="select" name="userAns" value="1" >
                                <span class="choice"></span><br>
                            </label>
    
                            <label for="select2">
                                <input type="radio" id="select2" class="select" name="userAns" value="2" >
                                <span class="choice"></span><br>
                            </label>
    
                            <label for="select3">
                                <input type="radio" id="select3" class="select" name="userAns" value="3" >
                                <span class="choice"></span><br>
                            </label>
    
                            <label for="select4">
                                <input type="radio" id="select4" class="select" name="userAns" value="4" >
                                <span class="choice"></span><br>
                            
                            </label>
                        </form>
                    </div>

                    <input type="submit" value="submit" class="confirm" id="ans-btn"><br>
                    <div class="result"></div>

                    
                    <form name="control-quiz">
                        <input type="button" value="▷" id="next-btn">
                        <input type="button" value="◁" id="before-btn">
                    </form>

                </div>
            </div>
        </div>


        <div class="user">
            <img src="../../../static/app/images/user.jpg" width="180" id="userimg">

            <div class="right">
                <p id="change"></p> 
            </div>
            
        </div>

    </div>
    
    <script src="../../../static/app/js/studyscript.js"></script>
    

</body>
</html>