<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnglishStudy</title>
    <link rel="stylesheet" href="../../../static/app/css/styles.css">
    <link rel="stylesheet" href="../../../static/app/css/stylestwo.css">
    <script type="text/javascript" >
        var test = "{{message}}";
        var GPT= "{{GPT_respond_ajax}}";
    </script>

</head>
<body>
    <h1>Title</h1>
    <h2>title</h2>

    <div id="menu">
        <a href="/app/english/main">Main</a>
        <a href="#"><b>Study</b></a>
        <a href="/app/english/rank">Rank</a>
        <a href="/app/english/mypage">Mypage</a>
    </div>
    <div class="content">
        <div class="chatGPT">
            <img src="../../../static/app/images/chatGPT.jpg" width="200" id="chatGPTimg">

            <div class = quiz>
                <span class="effectGPT"></span>
                <span class="effectGPT"></span>
                <span class="effectGPT"></span>
                <span class="effectGPT"></span>
                <span class="quiz_type"></span>
                <div class="quiz_question">
                    <span class="number"></span>
                    <div class="ask"></div>
                </div>

                <div class="quiz_try">
                    <div class="quiz_selects">
                        <form name="select_big">
                            <label for="select1">
                                <input type="radio" id="select1" class="select" name="userAns" value="1" >
                                <span class="choice"></span><br>
                            </label>
    
                            <label for="select2">
                                <input type="radio" id="select2" class="select" name="userAns" value="2" >
                                <span class="choice"></span><br>
                            </label>
    
                            <label for="select3">
                                <input type="radio" id="select3" class="select" name="userAns" value="3" >
                                <span class="choice"></span><br>
                            </label>
    
                            <label for="select4">
                                <input type="radio" id="select4" class="select" name="userAns" value="4" >
                                <span class="choice"></span><br>

                            </label>
                        </form>
                    </div>

                    <input type="submit" value="submit" class="confirm" id="ans-btn"><br>
                    <div class="result"></div>

                    <div class="bookmarkpart">
                        <form method="POST" >
                            {% csrf_token %}
                            <input type ="hidden" id ="idx_update2"  name="idx_update2" value ="">
                            <input type ="hidden"  name="forwhat" value ="book">
                            <p class="testidx2"> </p>
                            <p><input type="submit" id="book-btn" value="mark"></p>
                        </form> 
                    </div>
            
                    
                    <form name="control-quiz">
                        <input type="button" value="▷" id="next-btn">
                        <input type="button" value="◁" id="before-btn">
                    </form>

                </div>
            </div>
        </div>


        <div class="user">
            <div class="explanation"></div>
            <p id="user_gpt_id_text"> GPT 에게 추가질문 입력하기</p>
            <form method="GET" name="user_to_gpt_form_name">
                {% csrf_token %}
                <input type="text" id = "user_gpt_id" name="user_gpt" class="user_gpt_ask" value =""  >
                <input type ="hidden"  name="user_gpt_id_hidden" value="user_gpt_id_ok" >
                <input type ="hidden"  name="user_answer_to_view" id="user_answer_to_view" value="">
                <input type ="hidden"  name="gpt_answer_to_view" id="gpt_answer_to_view" value="">
                <input type="button" value="대답해줘" id="ask_gpt"  >
            </form>
            <div class="gpt_respond_message"></div>
          
            <div class="man">
                <div class="head"></div>
                <div class="body"></div>
                <div class="feet">
                  <div class="foot"></div>
                  <div class="foot"></div>
                </div>
            </div>
            <div class="yes">CORRECT</div>
            <div class="no">WRONG</div>
            <div class="score">score:300</div>
        </div>


        <div class="exitpart">
            <form method="POST" >
                {% csrf_token %}
                <input type ="hidden" id ="idx_update"  name="idx_update" value ="">
                <input type ="hidden"  name="forwhat" value ="exit">
                <p class="testidx"></p>
                <p><input type="submit" id= "exit-btn" value="Exit"></p>
            </form>
        </div>
        
    </div>
    
    <script type="text/javascript" src="../../../static/app/js/studyscript.js?ver=1">
        var test = "{{message}}";
        var GPT= "{{GPT_respond_ajax}}";
    </script>
    

</body>
</html>