@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);

/*----------------------------------------------------------*/
/* background and title */
/*----------------------------------------------------------*/

* {
    box-sizing: border-box;
}


body {
    background-color: #f0ebe3;
}


#container {
    margin: 0 auto;
    max-width: 520px;
    text-align: center;
}
  
#container h1 {
    font-weight: normal;
    color: #ad1f1f;
    font-size: 47px;
    text-transform: uppercase;
    margin: 0.3125em 0;
    background-color: #f0ebe3;
    position: relative;
    display: inline-block;
    padding: 0 10px;
}

#container h2 {
    font-weight: normal;
    font-size: 28px;
    color: #d67272;
    margin: 0.3125em 0;
    background-color: #f0ebe3;
    position: relative;
    display: inline-block;
    padding: 0 10px;
}
.style-1 {
    font-family: "Pacifico", sans-serif;
    text-transform: none!important;
    
}
  
.style-2 {
    font-family: "Open Sans Condensed", sans-serif;  
}

.style-1:before {
    content: "";
    height: 3px;
    border-top: 1px solid rgb(219, 155, 155);
    border-bottom: 1px solid rgb(219, 155, 155);
    position: absolute;
    width: 200%;
    top: 50%;
    left: -50%;
    z-index: -999;
}
  
.style-2:before {
    content: "";
    height: 3px;
    border-top: 2px dotted rgb(247, 175, 175);
    border-bottom: 2px dotted rgb(247, 175, 175);
    position: absolute;
    width: 220%;
    top: 45%;
    left: -60%;
    z-index: -999;
}

/*----------------------------------------------------------*/
/* menu */
/*----------------------------------------------------------*/

#menu{
    position: relative;
    background-color:#f2a7a7;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 8px;
    border-style:ridge;
}    

#menu a:before {
    color: #fff;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    content: attr(data-hover);
    position: absolute;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    pointer-events: none;
}

#menu a{
    margin-left: 40px;
    margin-right: 40px;
    font-size: 25px;
    color: #464a57;
    text-decoration: none;
    font-family: "Open Sans Condensed", sans-serif;  
    cursor:pointer;
}

  
#menu a:hover:before, #menu a:focus:before {
    opacity: 0;
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    transform: translateY(-2px);
}
  
#menu a:hover:after, #menu a:focus:after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

/*main*/
.menugo-container {
    width: 660px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Raleway", sans-serif;
}

.menugo {
    background-color: rgb(186, 232, 253);
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 50px;
    position: relative;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
}



.menugo img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.menugo .menuex {
    background-color: rgb(186, 232, 253);
    text-align: center;
    padding: 13px 20px;
    box-sizing: border-box;
}


.menugo h3 {
    color: #ffffff;
    font-size: 32px;
    
    margin-top: 0;
    margin-bottom: 20px;
}

.menugo p {
    color: #ffffff;
    font-size: 16px;
   
    margin-top: 0;
    margin-bottom: 16px;
    text-align: center;
}

.menugo a {
    color: #9a9aa4;
    font-size: 16px;
    text-decoration: none;
}


.menugo-container .menugo .menuex:hover {
    background-color: #f9dcd8;
}

/*effect*/

.effectMainA:nth-child(1){  
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #a8edea, #fed6e3);
    animation: animate1 6s linear infinite;
    
}

@keyframes animate1 {
    0%{
      transform: translateX(-100%);
    }
    100%{
      transform: translateX(100%);
    }
}

.effectMainA:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(to bottom,  #a8edea, #fed6e3);
    animation: animate2 6s linear infinite;
}

@keyframes animate2 {
    0%{
      transform: translateY(-100%);
    }
    100%{
      transform: translateY(100%);
    }
}

.effectMainA:nth-child(3){
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to left,  #a8edea, #fed6e3);
    animation: animate3 6s linear infinite;
}

@keyframes animate3 {
    0%{
      transform: translateX(100%);
    }
    100%{
      transform: translateX(-100%);
    }
}

.effectMainA:nth-child(4){
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(to top, #a8edea, #fed6e3);
    animation: animate4 6s linear infinite;
}

@keyframes animate4 {
    0%{
      transform: translateY(100%);
    }
    100%{
      transform: translateY(-100%);
    }
}


.effectMainB:nth-child(1){  
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #a8edea, #fed6e3);
    animation: animate1 6s linear infinite;
    
}

@keyframes animate1 {
    0%{
      transform: translateX(-100%);
    }
    100%{
      transform: translateX(100%);
    }
}

.effectMainB:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(to bottom,  #a8edea, #fed6e3);
    animation: animate2 6s linear infinite;
}

@keyframes animate2 {
    0%{
      transform: translateY(-100%);
    }
    100%{
      transform: translateY(100%);
    }
}

.effectMainB:nth-child(3){
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to left,  #a8edea, #fed6e3);
    animation: animate3 6s linear infinite;
}

@keyframes animate3 {
    0%{
      transform: translateX(100%);
    }
    100%{
      transform: translateX(-100%);
    }
}

.effectMainB:nth-child(4){
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(to top, #a8edea, #fed6e3);
    animation: animate4 6s linear infinite;
}

@keyframes animate4 {
    0%{
      transform: translateY(100%);
    }
    100%{
      transform: translateY(-100%);
    }
}