@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap);

@font-face {
    font-family: 'TAEBAEKmilkyway';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/*----------------------------------------------------------*/
/* background and title */
/*----------------------------------------------------------*/

* {
    box-sizing: border-box;
}


body {
    font-family: 'TAEBAEKmilkyway';
    background-color: #f0ebe3;
}


#container {
    margin: 0 auto;
    max-width: 520px;
    text-align: center;
}
  
#container h1 {
    font-weight: normal;
    color: #ad1f1f;
    font-size: 47px;
    text-transform: uppercase;
    margin: 0.3125em 0;
    background-color: #f0ebe3;
    position: relative;
    display: inline-block;
    padding: 0 10px;
}

#container h2 {
    font-weight: normal;
    font-size: 28px;
    color: #d67272;
    margin: 0.3125em 0;
    background-color: #f0ebe3;
    position: relative;
    display: inline-block;
    padding: 0 10px;
}
.style-1 {
    font-family: "Pacifico", sans-serif;
    text-transform: none!important;
    
}
  
.style-2 {
    font-family: "Open Sans Condensed", sans-serif;  
}

.style-1:before {
    content: "";
    height: 3px;
    border-top: 1px solid rgb(219, 155, 155);
    border-bottom: 1px solid rgb(219, 155, 155);
    position: absolute;
    width: 200%;
    top: 50%;
    left: -50%;
    z-index: -999;
}
  
.style-2:before {
    content: "";
    height: 3px;
    border-top: 2px dotted rgb(247, 175, 175);
    border-bottom: 2px dotted rgb(247, 175, 175);
    position: absolute;
    width: 220%;
    top: 45%;
    left: -60%;
    z-index: -999;
}

/*----------------------------------------------------------*/
/* menu */
/*----------------------------------------------------------*/

#menu{
    position: relative;
    background-color:#f2a7a7;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 8px;
    border-style:ridge;
}    

#menu a:before {
    color: #fff;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    content: attr(data-hover);
    position: absolute;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    pointer-events: none;
}

#menu a{
    margin-left: 40px;
    margin-right: 40px;
    font-size: 25px;
    color: #464a57;
    text-decoration: none;
    font-family: "Open Sans Condensed", sans-serif;  
    cursor:pointer;
}

  
#menu a:hover:before, #menu a:focus:before {
    opacity: 0;
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    transform: translateY(-2px);
}
  
#menu a:hover:after, #menu a:focus:after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}



/* join */

.join-form {
    width: 500px;
    background-color: #eeeff1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 5px;
    padding: 20px;
}

.check-btn {
    font-size: 14px;
    background-color: #525252;
    color: white;
    width: 10%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    float: right;
}

.name{
    font-size: 80%;
    position: relative;
    margin-bottom: 10px;
}

 /* study */
.content {
    font-size: 18px;
    width: 60%;
    max-width: 1000px;
    margin: 50px auto;
 }

.chatGPT {
    background-color: #e2f0f79b;
    border-radius: 25px;
    width: 100%;
    position: relative;
    overflow: hidden;
   
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgb(23, 32, 90);
}

.chatGPT .effectGPT:nth-child(1){  
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #a8edea, #fed6e3);
    animation: animate1 6s linear infinite;
    
}

@keyframes animate1 {
    0%{
      transform: translateX(-100%);
    }
    100%{
      transform: translateX(100%);
    }
}

.chatGPT .effectGPT:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(to bottom,  #a8edea, #fed6e3);
    animation: animate2 6s linear infinite;
}

@keyframes animate2 {
    0%{
      transform: translateY(-100%);
    }
    100%{
      transform: translateY(100%);
    }
}

.chatGPT .effectGPT:nth-child(3){
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to left,  #a8edea, #fed6e3);
    animation: animate3 6s linear infinite;
}

@keyframes animate3 {
    0%{
      transform: translateX(100%);
    }
    100%{
      transform: translateX(-100%);
    }
}

.chatGPT .effectGPT:nth-child(4){
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(to top, #a8edea, #fed6e3);
    animation: animate4 6s linear infinite;
}

@keyframes animate4 {
    0%{
      transform: translateY(100%);
    }
    100%{
      transform: translateY(-100%);
    }
}


.user {
    background-color: #fff5e8bb;
    border-radius: 25px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 8px solid #cacaca;
    position: relative;
}



#chatGPTimg {
    float: left;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 35px;
    margin-bottom: 15px;
    border-radius: 25px;
    
}
  

#userimg {
    float: right;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 25px;
}




.quiz_question {
    margin-top: 10px;
    padding: 15px;
    line-height: 1.4;
}

.quiz_question .ask {
    display: inline;
}

/*추가!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.quiz_selects {
    margin-bottom : 10px;
}


.quiz_selects label{
    display: flex;
}

.quiz_selects label input {
    position: absolute;
    left: -9999px;
}

.quiz_selects label span {
    font-size: 18px;
    line-height: 1.2;
    padding: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.quiz_selects label span::before{
    content: '';
    width: 20px;
    height: 20px;
    margin-right: 15px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    box-shadow: inset 0px 0px 0px 4px #eea49a;
    flex-shrink: 0;
    transition: all 0.65s ease-in-out;
    
}

.quiz_selects label input:checked + span {
    background-color: #f7bfb8;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.quiz_selects label input:checked + span::before {
    box-shadow: inset 0px 0px 0px 10px #eea49a;
} 

#ans-btn {
    font-size: 14px;
    background-color:  #eea49a;
    color: #FFF;
    width: 95px;
    padding: 5;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 100px;  /*추가!!!!!!!!!!!!!!!!!!11*/
    float: left;
    box-shadow: 0px 5px 0px 0px #ae7a73;
    line-height: 25px;
    cursor: pointer;
}


#book-btn {
    font-size: 14px;
    background-color:  hsl(348, 66%, 42%);
    color: #FFF;
    width: 80px;
    padding: 15;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 20px;
    float: right;
    line-height: 25px;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 5px 50% 50% 5px;
    cursor: pointer;
}

#bmImg {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 5px;
    float: right;
}


#next-btn {
    font-size: 14px;
    background-color: #abc4cf;
    color: white;
    width: 40px;
    padding: 3px;
    border: 5px double #146181;
    border-radius: 30px;
    margin-bottom: 5px;
    float: right;
    margin-top: 25px;
    margin-left: 15px;
    margin-right: -100px;
    cursor: pointer;
   
}

#before-btn {
    font-size: 14px;
    background-color: #abc4cf;
    color: white;
    width: 40px;
    padding: 3px;
    border: 5px double #146181;
    border-radius: 30px;
    margin-bottom: 5px;
    float: right;
    margin-top: 25px;
    margin-left: 15px;
    margin-right: -35px;
    cursor: pointer;
}


.content .chatGPT #ans-btn:hover {
    margin-top: 22px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 0px 0px #ae7a73;
}


.content .chatGPT #book-btn:hover {
    background-color:  #7e2623;
    transform: scale(1.2);
}


.content .chatGPT #next-btn:hover {
    background-color: #146181;
}

.content .chatGPT #before-btn:hover {
    background-color: #146181;
}


.user .explanation {
    line-height: 160%;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 60px;
    overflow-wrap: break-word;
    border: 2px solid white;
    padding: 5px;
}
.user .score {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 10px;

}


#exit-btn {
    display: block;
    position: relative;
    float: left;
    width: 80px;
    padding: 0;
    margin: 10px 18px 10px 0;
    font-weight: 400;
    text-align: center;
    line-height: 30px;
    color: #FFF;
    border-radius: 5px;
    transition: all 0.2s ;
    background: #ab3834;
    box-shadow: 0px 5px 0px 0px #922c29;
}


#exit-btn:hover {
    margin-top: 15px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 0px 0px #922c29;
}

/* study - gpt 추가질문 */
.user #user_gpt_id_text {
    margin-top: 0;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;
    overflow-wrap: break-word;
    background-color: #fea99e4f;
    padding: 7px;  
    border-radius: 5px;
    text-align: center;
    color: rgb(86, 79, 79);
}

.user #ask_gpt {
    margin-top: 3px;
    margin-left: 10px;
    margin-right: 40px;
    margin-bottom: 30px;
    overflow-wrap: break-word;
    position:relative;
    background-color: #e7fad4b1;
    padding: 7px; 
    border-radius: 5px; 
    color: rgb(101, 99, 99);
    float: right;
}

.user #user_gpt_id {
    height: 40px;
    font-size: 15px;
    font-family: 'TAEBAEKmilkyway';
    position: relative;
    float: right;
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 40%;
    overflow-wrap: break-word;
    background-color: #ded6d34a;
    padding: 7px;  
    border-radius: 5px;
    color: rgb(115 113 113);
    white-space: pre-wrap;
}

.user #ask_gpt:hover {
    background-color:  #dff0bc;
}

.user .gpt_respond_message {
    line-height: 160%;
    width: 90%;
    position:relative;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;
    overflow-wrap: break-word;
    background-color: #d6e7ee96;
    padding: 7px;  
    border-radius: 5px;
    color: #343030;
    overflow-wrap: break-word;
    overflow : auto;
}




/* rank

.rank {
    background-color: #9dc8e3;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    overflow: scroll;
    margin-bottom: 50px;
}

#userrank {
    text-align: center;
    font-size: 20px;
}

.linea {
    border: solid 4px rgb(48, 80, 139);
}

.rankcontent {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 15px; 
    margin-bottom: 15px;
    border-bottom: 2px solid rgb(48, 80, 139);
}


 */

/* main
.menugo-container {
    width: 660px;
    margin-left: auto;
    margin-right: auto;
}

.menugo {
    background-color: #eda59b;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 50px;
    position: relative;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
}



.menugo img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.menugo .menuex {
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 13px 20px;
    box-sizing: border-box;
}


.menugo h3 {
    color: #ffffff;
    font-size: 32px;
    
    margin-top: 0;
    margin-bottom: 20px;
}

.menugo p {
    color: #ffffff;
    font-size: 16px;
   
    margin-top: 0;
    margin-bottom: 16px;
    text-align: center;
}

.menugo a {
    color: #0000ee;
    font-size: 16px;
    text-decoration: none;
}


.menugo-container .menugo .menuex:hover {
    background-color: #eda59b;
} */

/*effect*/

.effectMainA:nth-child(1){  
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #a8edea, #fed6e3);
    animation: animate1 6s linear infinite;
    
}

@keyframes animate1 {
    0%{
      transform: translateX(-100%);
    }
    100%{
      transform: translateX(100%);
    }
}

.effectMainA:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(to bottom,  #a8edea, #fed6e3);
    animation: animate2 6s linear infinite;
}

@keyframes animate2 {
    0%{
      transform: translateY(-100%);
    }
    100%{
      transform: translateY(100%);
    }
}

.effectMainA:nth-child(3){
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to left,  #a8edea, #fed6e3);
    animation: animate3 6s linear infinite;
}

@keyframes animate3 {
    0%{
      transform: translateX(100%);
    }
    100%{
      transform: translateX(-100%);
    }
}

.effectMainA:nth-child(4){
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(to top, #a8edea, #fed6e3);
    animation: animate4 6s linear infinite;
}

@keyframes animate4 {
    0%{
      transform: translateY(100%);
    }
    100%{
      transform: translateY(-100%);
    }
}


.effectMainB:nth-child(1){  
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #a8edea, #fed6e3);
    animation: animate1 6s linear infinite;
    
}

@keyframes animate1 {
    0%{
      transform: translateX(-100%);
    }
    100%{
      transform: translateX(100%);
    }
}

.effectMainB:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(to bottom,  #a8edea, #fed6e3);
    animation: animate2 6s linear infinite;
}

@keyframes animate2 {
    0%{
      transform: translateY(-100%);
    }
    100%{
      transform: translateY(100%);
    }
}

.effectMainB:nth-child(3){
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to left,  #a8edea, #fed6e3);
    animation: animate3 6s linear infinite;
}

@keyframes animate3 {
    0%{
      transform: translateX(100%);
    }
    100%{
      transform: translateX(-100%);
    }
}

.effectMainB:nth-child(4){
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(to top, #a8edea, #fed6e3);
    animation: animate4 6s linear infinite;
}

@keyframes animate4 {
    0%{
      transform: translateY(100%);
    }
    100%{
      transform: translateY(-100%);
    }
}

