* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}


body {
    background-color: #f0e8d9;
}


h1 {
    text-align: center;
    font-size: 64px;
    letter-spacing : 20px;
    color: #cd4759;
    margin-top: 75px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    transform: translate(0.4vw, 0.3vh);
    mix-blend-mode: darken;   
    text-shadow: 1px 0px 0px #3e2e6a, 0px 1px 0px #130b52, 2px 1px 0px #3e2e6a, 1px 2px 0px #130b52, 3px 2px 0px #3e2e6a, 2px 3px 0px #130b52, 4px 3px 0px #3e2e6a, 3px 4px 0px #130b52, 5px 4px 0px #3e2e6a, 4px 5px 0px #130b52, 6px 5px 0px #3e2e6a, 5px 6px 0px #130b52, 7px 6px 0px #3e2e6a;
} 


h2 {
    text-align: center;
    font-size: 32px;
    color: #58595b;
    margin-bottom: 75px;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    text-align: center;
    font-size: 25px;
    color: #ffffff;
    margin-top: 35px;
    margin-bottom: 35px;
    font-family: Arial, Helvetica, sans-serif;
}



#menu{
    position: relative;
    background-color:#60929e ;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 8px;
    border-style:ridge;
    border-color: #172930;
}    

#menu a{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    cursor:pointer;
}

#menu a:hover{
    width: 35px;
    background-color:#1f455e;
    border-radius:30px;
    border:8px solid #1f455e;
    transition:0.5s;
}



/* login */

.login-form {
    width: 300px;
    background-color: #eeeff1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 5px;
    padding: 20px;
}

.text-field {
    font-size: 14px;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
  
.submit-btn {
    font-size: 14px;
    background-color: #a85418;
    color: white;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    border: none;
}
  
.links {
    margin-top: 30px;
    text-align: center;
}
  
.links a {
    font-size: 12px;
    color: #9b9b9b;
}


/* join */

.join-form {
    width: 500px;
    background-color: #eeeff1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 5px;
    padding: 20px;
}

.check-btn {
    font-size: 14px;
    background-color: #525252;
    color: white;
    width: 10%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    float: right;
}

.name{
    font-size: 80%;
    position: relative;
    margin-bottom: 10px;
}

 /* study */
 .content {
    font-size: 18px;
    width: 60%;
    max-width: 1000px;
    margin: 50px auto;
 }

 /*
.chatGPT {
    background-color: #abcfb8;
    border-radius: 25px;
    width: 100%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 8px ridge #cacaca;
}
*/

.chatGPT {
    background-color: #abcfb8;
    border-radius: 25px;
    width: 100%;
    position: relative;
    overflow: hidden;
   
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgb(23, 32, 90);
}

.chatGPT .effectGPT:nth-child(1){  
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #a8edea, #fed6e3);
    animation: animate1 6s linear infinite;
    
}

@keyframes animate1 {
    0%{
      transform: translateX(-100%);
    }
    100%{
      transform: translateX(100%);
    }
}

.chatGPT .effectGPT:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(to bottom,  #a8edea, #fed6e3);
    animation: animate2 6s linear infinite;
}

@keyframes animate2 {
    0%{
      transform: translateY(-100%);
    }
    100%{
      transform: translateY(100%);
    }
}

.chatGPT .effectGPT:nth-child(3){
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to left,  #a8edea, #fed6e3);
    animation: animate3 6s linear infinite;
}

@keyframes animate3 {
    0%{
      transform: translateX(100%);
    }
    100%{
      transform: translateX(-100%);
    }
}

.chatGPT .effectGPT:nth-child(4){
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(to top, #a8edea, #fed6e3);
    animation: animate4 6s linear infinite;
}

@keyframes animate4 {
    0%{
      transform: translateY(100%);
    }
    100%{
      transform: translateY(-100%);
    }
}


.user {
    background-color: #bdb7de;
    border-radius: 25px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 8px solid #cacaca;
    position: relative;
}


#chatGPTimg {
    float: left;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 35px;
    margin-bottom: 15px;
    border-radius: 25px;
    
}
  

#userimg {
    float: right;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 25px;
}

#ans-btn {
    font-size: 14px;
    background-color:  #f8b74e;
    color: rgb(255, 255, 255);
    width: 10%;
    padding: 3px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 8px;
    float: left;
}


.quiz_question {
    margin-top: 10px;
    padding: 15px;
    line-height: 1.4;
}

.quiz_question .ask {
    display: inline;
}


.quiz_selects label{
    display: flex;
}

.quiz_selects label input {
    position: absolute;
    left: -9999px;
}

.quiz_selects label span {
    font-size: 18px;
    line-height: 1.2;
    padding: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.quiz_selects label span::before{
    content: '';
    width: 20px;
    height: 20px;
    margin-right: 15px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    box-shadow: inset 0px 0px 0px 4px #f8b74e;
    flex-shrink: 0;
    transition: all 0.65s ease-in-out;
    
}

.quiz_selects label input:checked + span {
    background-color: #fad69d98;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.quiz_selects label input:checked + span::before {
    box-shadow: inset 0px 0px 0px 10px #f8b74e;
} 



#next-btn {
    font-size: 14px;
    background-color: #abcfb8;
    color: white;
    width: 40px;
    padding: 3px;
    border: 5px double #1b592b;
    border-radius: 30px;
    margin-bottom: 10px;
    float: right;
    margin-left: 15px;
    margin-right: 15px;
}

#before-btn {
    font-size: 14px;
    background-color: #abcfb8;
    color: white;
    width: 40px;
    padding: 3px;
    border: 5px double #1b592b;
    border-radius: 30px;
    margin-bottom: 10px;
    float: right;
    margin-left: 15px;
    margin-right: 15px;
}

.content .chatGPT #ans-btn:hover {
    background-color:  #f8b74e;
    border: 5px double #1b592b;
}

.content .chatGPT #next-btn:hover {
    background-color: #0c7439;
}

.content .chatGPT #before-btn:hover {
    background-color: #0c7439;
}



/* mypage */

#mypageJust {
    height: 60px;
    margin-bottom: 60px;
    text-align: center;
}


#mypageJust span {
    position: relative;
    top: 20px;
    display: inline-block;
    animation: bounce .6s ease infinite alternate;
    font-family: 'Titan One', cursive;
    font-size: 50px;
    color: #FFF;
    text-shadow: 0 1px 0 #CCC,
                 0 2px 0 #CCC,
                 0 3px 0 #CCC,
                 0 4px 0 #CCC,
                 0 5px 0 #CCC,
                 0 6px 0 transparent,
                 0 7px 0 transparent,
                 0 8px 0 transparent,
                 0 9px 0 transparent,
                 0 10px 10px rgba(0, 0, 0, .4);
}

#mypageJust span:nth-child(2) { animation-delay: .1s; }
#mypageJust span:nth-child(3) { animation-delay: .2s; }
#mypageJust span:nth-child(4) { animation-delay: .3s; }
#mypageJust span:nth-child(5) { animation-delay: .4s; }
#mypageJust span:nth-child(6) { animation-delay: .5s; }
#mypageJust span:nth-child(7) { animation-delay: .6s; }
#mypageJust span:nth-child(8) { animation-delay: .7s; }
#mypageJust span:nth-child(9) { animation-delay: .8s; }
#mypageJust span:nth-child(10) { animation-delay: .9s; }
#mypageJust span:nth-child(11) { animation-delay: .10s; }

@keyframes bounce {
    100% {
      top: -20px;
      text-shadow: 0 1px 0 #CCC,
                   0 2px 0 #CCC,
                   0 3px 0 #CCC,
                   0 4px 0 #CCC,
                   0 5px 0 #CCC,
                   0 6px 0 #CCC,
                   0 7px 0 #CCC,
                   0 8px 0 #CCC,
                   0 9px 0 #CCC,
                   0 50px 25px rgba(0, 0, 0, .2);
    }
}
  

.mypageUSer {
    background-color: #ce7979;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border: 15px ridge #ffffff;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 50px;
}

.mypageUSer img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-bottom: 10px;
}

.mypageUSer .info {
    padding: 20px;
    text-align: center;
}


.mypageUSer p {
    color: #ffffff;
    font-size: 25px;
    font-family: fantasy;
    margin-top: 0;
    margin-bottom: 16px;
}

.mypageUSer a {
    color: #0000ee;
    font-size: 16px;
    text-decoration: none;
}



/* rank */

.rank {
    background-color: #9dc8e3;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    overflow: scroll;
    margin-bottom: 50px;
}

#userrank {
    text-align: center;
    font-size: 20px;
}

.linea {
    border: solid 4px rgb(48, 80, 139);
}

.rankcontent {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 15px; 
    margin-bottom: 15px;
    border-bottom: 2px solid rgb(48, 80, 139);
}




/*main*/
.menugo-container {
    width: 660px;
    margin-left: auto;
    margin-right: auto;
}

.menugo {
    background-color: rgb(103, 97, 86);
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 50px;

    float: left;
    margin-left: 15px;
    margin-right: 15px;
}

.menugo img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.menugo .menuex {
    background-color: rgb(85, 84, 81);
    text-align: center;
    border: 6px ridge #cacaca;
    padding: 13px 20px;
    box-sizing: border-box;
}


.menugo h3 {
    color: #000000;
    font-size: 32px;
    
    margin-top: 0;
    margin-bottom: 20px;
}

.menugo p {
    color: #ffffff;
    font-size: 16px;
   
    margin-top: 0;
    margin-bottom: 16px;
    text-align: center;
}

.menugo a {
    color: #0000ee;
    font-size: 16px;
    text-decoration: none;
}


.menugo-container .menugo .menuex:hover {
    background-color: #98a062;
}


